// Styling for page displaying info related to a menu item
.foodInfo {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0,) 0%, 
        rgba(0, 0, 0, 1) 100%
        ), 
        url("../../components/titan_background.jpeg");
    background-size: cover;
    position: relative;
    color: white; 
    overflow: auto;

    .nutrition {
        margin: 0px 40px;

        .nutritionFacts {
            color: white;
            transform: translate(0px, 100px);
            .header {
                font-weight: bold;
                background-color: none;
                border: solid goldenrod;
                width:fit-content;
            }
            .nutritionItems {
                background-color: var(--main-color);
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                position: absolute;
                width: 400px;
            }
    
            .link {
                padding: 10px 0px;
                margin-right: 0px;
                cursor: pointer;
            }
            
            span {
                padding: 10px;
                cursor: pointer;
            }
    
            .link {
                &:hover {
                    background-color: goldenrod;
                    border-radius: 5px;
                }
            }
        }
        .percent {
            transform: translate(0px, 300px);
            font-size: small;
            font-weight: bold;
        
        }
    }
    .dietaryTags {
        .tags {
            color: white;
            transform: translate(500px, 60px);
            .header {
                font-weight: bold;
                background-color: none;
                border: solid goldenrod;
                width:fit-content;
            }
            .tagNames {
                background-color: var(--main-color);
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                position: absolute;
                width: 400px;
            }
    
            .link {
                padding: 10px 0px;
                margin-right: 0px;
                cursor: pointer;
            }
            
            span {
                padding: 10px;
                cursor: pointer;
            }
    
            .link {
                &:hover {
                    background-color: goldenrod;
                    border-radius: 5px;
                }
            }
        }
    }
    .ratings {
        .tags {
            color: white;
            transform: translate(500px, 200px);
            .header {
                font-weight: bold;
                background-color: none;
                border: solid goldenrod;
                width:fit-content;
            }
            .tagNames {
                background-color: var(--main-color);
                border-radius: 5px;
                display: flex;
                position: absolute;
                width: 470px;
            }
    
            .link {
                padding: 10px 0px;
                margin-right: 0px;
                cursor: pointer;
            }
            
            span {
                padding: 10px;
                cursor: pointer;
            }
    
            .link {
                &:hover {
                    background-color: goldenrod;
                    border-radius: 5px;
                }
            }
        }
    }
    .upcomingMeals {
        .meals {
            color: white;
            transform: translate(1000px, 35px);
            .header {
                font-weight: bold;
                background-color: none;
                border: solid goldenrod;
                width:fit-content;
            }
            .mealLocation {
                background-color: var(--main-color);
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                position: absolute;
                width: 400px;
            }
    
            .link {
                padding: 10px 0px;
                margin-right: 0px;
                cursor: pointer;
            }
            
            span {
                padding: 10px;
                cursor: pointer;
            }
    
            .link {
                &:hover {
                    background-color: goldenrod;
                    border-radius: 5px;
                }
            }
        }
    }
    .ingredients {
        transform: translate(0px, 450px);
        margin: 0px 40px;
        .ingredientHeader{
            font-weight: bold;
            background-color: none;
            border: solid goldenrod;
            width:fit-content;
            transform: translateX(650px);

        }

    }
    .disclaimer {
        transform: translate(0px, 600px);
        font-weight: lighter;
        .disclaimerHeader{
            font-weight: bold;
            background-color: none;
            border: solid red;
            width:fit-content;
            transform: translateX(650px);

        }

    }

    // make drop down for meal type's text white
    .MuiSelect-select {
        color: white;
    }
    
}