# Template for environment variables for the backend server

# ----------------------------------------------- #
# USE THIS FILE AS TEMPLATE TO POPULATE .env FILE
# ----------------------------------------------- #

 # MongoDB URI (Read Write User)
MONGO_URL = TODO

# AES password encryption key and JWT secret key
SECRET_KEY = TODO


