.login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 100%),
            url("../../components/titan_background.jpeg");
    background-size: cover;
    position: relative;
    
    .top {
        .wrapper {
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                height: 60px;
            }
        }
    }

    .container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;

        form {
            width: 300px;
            height: 300px;
            padding: 30px;
            border-radius: 5px;
            background-color: var(--main-color);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            input {
                height: 40px;
                border-radius: 5px;
                background-color: gray;
                color: white;
                padding-left: 10px;
                border: none;

                &::placeholder {
                    color: lightgray;
                }
            }

            button {
                height: 40px;
                border-radius: 5px;
                background-color: goldenrod;
                color: white;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                border: none;
            }

            span {
                color: lightgray;
                text-align: center;
            }

            small {
                text-align: center;
            }

            b {
                color: white;
                cursor: pointer;
            }

            h1 {
                text-align: center;
            }
        }

        .errorMessage {
            margin-top: 5px;
            p {
                text-align: center;
                font-size: 14px;
                color: red;
            }
        }

        .recentlyRegisteredMessage {
            margin-top: -20px; // to center the sign in box
            margin-bottom: 20px;
        }
    }
}