.popular {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0, ) 0%,
            rgba(0, 0, 0, 1) 100%),
        url("https://pixelz.cc/wp-content/uploads/2018/07/hamburgers-uhd-4k-wallpaper.jpeg");
    background-size: cover;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    .header {
        font-weight: bold;
        align-items: center;
        
        justify-content: center;
    }
    
    .text {
        color: white;
    }
    
    .space {
        margin-top: 5px;
    }
    
    .filter {
    
        margin-left: 50px;
    
    }
    
    .filter2 {
        margin-left: 10px;
    }
    
    .menuTimes {
        margin-left: 10px;
    }
    
    .moreSpace {
        margin-top: 25px;
    }
    
    .evenMoreSpace {
        margin-top: 35px;
    }

    h4 {
        font-size: 18px;
    }
}

