// Styling for page to personal info page 
.personalInfo {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0, ) 0%,
            rgba(0, 0, 0, 1) 100%),
        url("../../components/titan_background.jpeg");
    background-size: cover;

    .personalInfoForm {
        position: relative;
        width: 100vw;
        height: 100vh;

        .container {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;

            .successMessage {
                margin-top: -10px; // to center the sign in box
                margin-bottom: 10px;
            }

            form {
                width: 500px;
                height: 520px;
                padding: 30px;
                border-radius: 5px;
                background-color: var(--main-color);
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                label {
                    width: 500px;
                    // margin-top: 5px;

                    .infoType {
                        width: 500px;
                        text-align: center;
                    }

                    input {
                        margin-left: 100px;
                        width: 200px;
                    }

                    .formButton {
                        height: 40px;
                        border-radius: 5px;
                        background-color: goldenrod;
                        color: white;
                        font-size: 18px;
                        font-weight: 500;
                        cursor: pointer;
                        border: none;
                        height: 25px;
                        width: 100px;
                    }
                }

                .backButton {
                    cursor: pointer;
                }

                .button2 {
                    cursor: pointer;
                }

                // .message {
                //     margin-bottom: 5px;
                //     align-items: center;
                // }

                button {
                    height: 40px;
                    border-radius: 5px;
                    background-color: goldenrod;
                    color: white;
                    font-size: 18px;
                    font-weight: 500;
                    // cursor: pointer;
                    border: none;
                    width: 500px;
                    margin: 5px;
                    align-items: center;
                    justify-content: center;
                }

                .infoButton {
                    height: 40px;
                    border-radius: 5px;
                    background-color: white;
                    color: black;
                    font-size: 18px;
                    font-weight: 500;
                    // cursor: pointer;
                    border: none;
                    

                    span {
                        font-weight: 400;
                        color: black;
                    }
                }


                .link {
                    margin-top: 5px;

                    button {
                        width: 500px;
                        color: black;
                        background-color: white;
                    }

                    .button2 {
                        width: 500px;
                        color: white;
                        background-color: goldenrod;
                    }
                }
            }

            span {
                color: lightgray;
                text-align: center;
            }

            small {
                text-align: center;
            }

            b {
                color: white;
                cursor: pointer;
            }

            h1 {
                text-align: center;
            }

            .errorMessage {
                text-align: center;
                margin-top: 5px;
                p {
                    font-size: 14px;
                    // color: red;
                }
            }
        }
    }
}